@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.float {
  background-color: #000;
  color: #fff;
  width: 30vw;
  height: 30vw;
  
}